.subject {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 0;
}
.nameAcademi {
  text-align: center;
  color: #00aeff;
  margin-top: 0;
}
.CertificateContainer {
  margin-top: 2rem;
  display: block;
  width: 40%;
}
.imageCertificateStyle {
  width: 100%;
  height: 80%;
}
@media screen and (max-width: 730px) {
  .CertificateContainer {
    width: 100%;
  }
}
.certificateContainer {
  max-width: 1300px;
}
