.toolsText {
  color: #a3a3a3;
}
.mtToolsText {
  margin-top: 2.8rem;
}
@media screen and (max-width: 730px) {
  .cardResponsive {
    padding: 1rem;
    margin-top: 1rem;
    box-shadow: 2px 4px 14px 6px #e1faff;
    -webkit-box-shadow: 2px 4px 14px 6px #e1faff;
    -moz-box-shadow: 2px 4px 14px 6px #e1faff;
    border-radius: 15px;
  }
}
